html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:rgba(14, 9, 9, 0.805) ;
}
.pimg1{
    background-image: url(images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
    background-position: center;
}
.pimg2{
    background-image: url(download\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    background-position: center;
}
.pimg3{
    background-image: url(download\ \(3\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    background-position: center;
}
.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 27px;
    later-spacing:8px;    
}
.textbg{
    background: #313534;
    color: aliceblue;
    padding: 20px;
}
.section1{
    padding: 50px 80px;
    text-align: center;
    
}
.section2{
    padding: 50px 80px;
    text-align: center;
    background-color: #313534;
    color: aliceblue;
}
.section3{
    padding: 50px 80px;
    text-align: center;
    background-color: #313534;
    color: aliceblue;
}